In [1]:
import sys
from pathlib import Path

here = Path.cwd().resolve()
for p in [here, *here.parents]:
    if (p / ".project-root").exists():
        PROJECT_ROOT = p
        break
else:
    raise RuntimeError("Could not locate .project-root")

SRC = PROJECT_ROOT / "src"
if str(SRC) not in sys.path:
    sys.path.insert(0, str(SRC))

from my_ds_project.paths import PROJECT_ROOT, DATA_RAW, DATA_PROCESSED, FIGURES_DIR

print("PROJECT_ROOT:", PROJECT_ROOT)
print("DATA_RAW exists:", DATA_RAW.exists())
print("DATA_PROCESSED exists:", DATA_PROCESSED.exists())

PROJECT_ROOT: /Users/gamlielibn/my-ds-project
DATA_RAW exists: True
DATA_PROCESSED exists: True

In [3]:
DATA_RAW

PosixPath('/Users/gamlielibn/my-ds-project/data/raw')

In [4]:
list(DATA_RAW.iterdir())

[]

In [5]:
import pandas as pd

df = pd.DataFrame({
    "name": ["Alice", "Bob", "Alice", "Bob"],
    "score": [90, 85, 95, 88]
})

df

    name  score
0  Alice     90
1    Bob     85
2  Alice     95
3    Bob     88

In [6]:
raw_path = DATA_RAW / "test_scores.csv"
df.to_csv(raw_path, index=False)

raw_path, raw_path.exists()

(PosixPath('/Users/gamlielibn/my-ds-project/data/raw/test_scores.csv'), True)

In [7]:
df_loaded = pd.read_csv(DATA_RAW / "test_scores.csv")
df_loaded

    name  score
0  Alice     90
1    Bob     85
2  Alice     95
3    Bob     88

In [8]:
avg_scores = df_loaded.groupby("name", as_index=False)["score"].mean()
avg_scores

    name  score
0  Alice   92.5
1    Bob   86.5

In [9]:
processed_path = DATA_PROCESSED / "avg_scores.csv"
avg_scores.to_csv(processed_path, index=False)

processed_path, processed_path.exists()

(PosixPath('/Users/gamlielibn/my-ds-project/data/processed/avg_scores.csv'),
 True)

In [10]:
list(DATA_RAW.iterdir()), list(DATA_PROCESSED.iterdir())

([PosixPath('/Users/gamlielibn/my-ds-project/data/raw/test_scores.csv')],
 [PosixPath('/Users/gamlielibn/my-ds-project/data/processed/avg_scores.csv')])